/* 


 button{
     border: none;
     width: 60px;
     height: 60px;
     margin: 10px;
     border-radius: 50%;
     background: transparent;
     color: white;
     box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
     cursor: pointer;
     font-size: 15px;
 }
 .equal{
     background-color: #fb7413;
 }
 .Arithmetic{
     color: greenyellow;
 } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(8, 120, 120);
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container{
    border: 2px solid palevioletred;
    border-radius: 10px;
    padding: 20px;
    background: transparent;    
    box-shadow: 0px 3px 15px rgba(1, 14, 6, 0.9)
}

input{
   width: 320px;
   padding: 20px;
   margin: 10px;
   font-size: 40px;
   background: transparent;
   cursor: pointer;
   border: none;
   box-shadow:0px 2px 40px rgba(9, 9, 8, 0.923);
   border-radius: 150px;
}

input::placeholder{
    color: black;
    
}


button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: rgba(19, 19, 18, 0.864);
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 15px rgba(40, 224, 214, 0.879);
    font-size: 15px;
    font-weight: 500;
}

.arithmetic{
    background-color: rgb(110, 55, 105);
    color: rgb(217, 255, 0);
}